/* This file defines classes that make up the messages page
** the following colors are used in this css file
** #e2e2e2: gray background of some tables
** #497699: blue text headers
** #555555: gray text
** #999999: disabled text color
*/

/* classes for the frmReadMail page */
form.ReadMailContent
{
	height: 100%;
	width: 100%;
}
body.ReadMailContent
{
	height: 100%;
	width: 100%;
}
table.ReadMailContent
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
/* ReadMail specific items */

/* defines the iframe for the messages/readmail pages */
iframe.ReadMailFrame
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
/* end of the iframe */

/* contains the IFrame on the readmail page */
td.ReadMailFrame
{
	height: 100%;
	padding: 0px;
	padding-top: 1px;
}
/* end iframe cell */

/* the table that is the ReadMail_Body page */
table.InnerReadMailContent
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #e2e2e2;
}
/* */

/* the actual content of the readmail_body page */
table.ReadMailContainer
{
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-collapse: collapse;	
}

td.ReadMailContainer
{
	padding: 0px;
	margin: 0px;
}
/* */


/* The left and right side of the ReadMail Header */
table.ReadMailLeft
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: left;
}
td.ReadMailLeft
{
	padding: 3px 0px 0px 6px;
	text-align: left;
	vertical-align: top;
	margin: 0px;
}

table.ReadMailRight
{
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: 0;
	text-align: right;
}
td.ReadMailRight
{
	vertical-align: top;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: right;
}
/* end readmailleft/right */

div.ReadMailContent2
{
	padding: 25px;
}
div.ReadMailContent
{
	height: 100%;
	font: 9pt Arial, Verdana;
	overflow: auto;
}

/* Classes for various labels and text on the readmail page */
.ReadMailLabelDate /* this is the Date: label */
{
	vertical-align: top;
	font: bold 9pt Arial, Verdana;
	padding:3px;
	color: #497699;
}
.ReadMailDangerousField /* shows when dangerous scripts were removed */
{
	vertical-align: top;
	font: bold 9pt Arial, Verdana;
	padding:3px 10px 3px 10px;
	color: #FE4719;
}

.ReadMailLabel /* generic label */
{
	vertical-align: top;
	font: bold 9pt Arial, Verdana;
	padding:3px;
	color: #497699;
	width: 85px;
}

.ReadMailDate /* the actual date text */
{
	clear: both;
	vertical-align: top;
	font: 9pt Arial, Verdana;
	padding: 6px 8px 3px 3px;
	color: #555555;
	white-space: nowrap;
}
.ReadMailView /* this is the HTML | Plain Text | Raw Content label */
{
	vertical-align: top;
	font: 9pt Arial, Verdana;
	padding: 3px 8px 3px 3px;
	color: #555555;
	white-space: nowrap;
}
.ReadMailField /* generic text field */
{
	vertical-align: top;
	font: 9pt Arial, Verdana;
	padding:3px;
	color: #555555;
}
/* end various text/label classes */


/* the scrolling div for the grid/preview areas */
div.GridArea
{
	outline:none;
	height: 100%;
	overflow: auto;
}
div.PreviewArea
{
	outline:none;
	height: 100%;
	overflow: auto;
}
/* */

/* pager cell */
td.MessagesPager
{
	background: transparent url(images/skin/PagerbarTile.png) repeat-x;
	padding: 0px;	
}
/* */

/* cells containing the scrolling divs */
td.MessagesGrid
{
	padding: 0px;
	width: 100%;
}
td.MessagesPreview
{
	height: 1px;
	padding: 0px;
	vertical-align: top;
	width: 100%;
}

/* The graph showing mailbox size usage */
td.UsageGraph
{
	padding: 4px 10px 0px 0px;
}
table.UsageGraph
{
	padding: 0px;
	margin-right: 0px;
	margin-left: auto;
	border-spacing: 0px;
	border-collapse: collapse;
}
.UsageHeader
{
	padding-bottom: 3px;
	color: #497699;
	font: bold 9pt Arial, Verdana;
}
.UsageChart
{
	margin-top: 2px;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 120px;
	height: 12px;
	border: solid 1px #cccccc;
}
.UsageFull
{
	background-color: white;
}
.UsageSep
{
	background: #cccccc;
}
.UsageEmpty
{
}
/* */

/* ImageButtons for the readmail page */
.ReadMailImageButton, .ReadMailImageButtonDisabled
{
	display: block;
	float: left;
	color: #555555;
	font: 9pt Arial;
	text-decoration: none;
	padding: 2px 6px 2px 6px;
	border-left: solid 1px white;
	border-bottom: solid 1px white;
}

.ReadMailImageButtonDisabled
{
	color: #999999;	
	cursor: default;	
}
.ReadMailImageButtonDisabled:hover
{
	cursor: default;	
	color: #999999;
}

img.ReadMailImageButton, img.ReadMailImageButtonDisabled
{
	display: none;
}

.AddContact /* this is the link that appears next to the From address for adding a contact */
{
	float: left;
	display: block;
	left: 90px;
	top: 7px;
	position: absolute;
}

.ReadMailIcons /* Contains the Image buttons on the readmail header */
{
	margin-right: 0px;
	float: right;
	white-space: nowrap;
}
/* end image buttons */
.ReadMailPlainText
{
	font: 10pt 'Courier New';
}

div.PrintMailContent
{
	display: none;
}

@media print
{
	div.PopUpBox
	{
		font: 9pt Arial,Verdana;
		color: #555555;
		position: relative;
		visibility: visible;
		border: solid 0px Black;
		padding: 0px;
		background-color: Transparent;
		z-index: 500;
	}
	.ReadMailField div span
	{
		display: none;
	}
	div.PrintMailContent
	{
		display: block;
		font: 9pt Arial, Verdana;
	}
	div.ReadMailContent
	{
		display: none;
	}
	.ReadMailImageButton
	{
		display: none;
	}
	.AddContact
	{
		display: none;
	}
}
