<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="blowery.web">
			<section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SMWeb05.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Login.BruteForceDetection.TriesBeforeBlock" value="10"/>
		<add key="Login.BruteForceDetection.BlockTime" value="5"/>
		<add key="MailServiceAddress" value="IPC"/>
	</appSettings>
	<connectionStrings/>
	<!--  This adds an http Compression Module to SmarterMail. 
        see http://www.blowery.org/code/HttpCompressionModule.html for more info 
  -->
	<blowery.web>
		<!--
        acceptable values:
        <compressionModule preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low|none"/>
        gzip always uses compressionLevel="normal"
    -->
		<httpCompress preferredAlgorithm="default" compressionLevel="normal">
			<excludedMimeTypes>
				<add type="image/gif"/>
				<add type="image/jpg"/>
				<add type="image/jpeg"/>
				<add type="application/octet-stream"/>
			</excludedMimeTypes>
			<excludedPaths>
				<add path="svcCalendar.asmx"/>
				<add path="WebResource.axd"/>
				<add path="frmReadMail_Attachment.aspx"/>
			</excludedPaths>
		</httpCompress>
	</blowery.web>
	<system.web>
		<httpModules>
			<add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>
		</httpModules>
		<httpHandlers>
			<add verb="*" path="TempResourceHandler.ashx" type="SmarterTools.Web.HttpHandlers.TempResourceHandler, SmarterTools.Web"/>
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="STWC" namespace="SmarterTools.Web.Controls" assembly="SmarterTools.Web"/>
				<add tagPrefix="SMWC" namespace="SMWeb05.UserControls" assembly="SMWeb05"/>
			</controls>
		</pages>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<urlMappings enabled="true">
			<add url="~/Main/frmMessages.aspx" mappedUrl="~/Main/frmMessagesX.aspx"/>
			<add url="~/Main/frmMessagesAdv.aspx" mappedUrl="~/Main/frmMessagesX.aspx"/>
		</urlMappings>
		<authentication mode="Windows"/>
		<httpRuntime maxRequestLength="10240"/>
		<customErrors mode="RemoteOnly" defaultRedirect="frmError.aspx"/>
	</system.web>
	<applicationSettings>
		<SMWeb05.Properties.Settings>
			<setting name="SMWeb05_ProductInfo_ProductInfo" serializeAs="String">
				<value>http://www.smartertools.com/billing/services/ProductInfo.asmx</value>
			</setting>
		</SMWeb05.Properties.Settings>
	</applicationSettings>
</configuration>
