<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections >

  <!--########################## Connection Strings ###############################-->
  <connectionStrings>
    <clear />
    <add name="WinConnectionString" connectionString="Data Source=.;Integrated Security=True;Initial Catalog=SLDefault;" />
    <add name="SoftLogik.Win.Properties.Settings.DBConnection" connectionString="Data Source=localhost;Initial Catalog=SLHSuite;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!--########################## SubSonic ###############################-->
  <!--
  templateDirectory			- you can override the generated code template by creating your own. See the 
                             samples in the Dev directory. This needs to be an absolute link.
  generatedNamespace		   - if you don't want to use the Global, specify it here
  spClassName				   - use your own class name for SPs. The defaul is "SPs"
  fixPluralClassNames		- If you have pluralized tables and you want singular, set this here.
  useSPs					      - If you don't want the build provider to wrap your SPs, set this to false, default is true.
  stripTableText			   - the text to strip from table names (comma separated values, case-sensitive)
  stripSPText				   - the text to strip from SP names (comma separated values, case-sensitive)
  stripViewText				- the text to strip from view names (comma separated values, case-sensitive)
							        ex. stripViewText="Summary of,Totals"
							        Be careful defining your text to strip because it will strip every match.
							        If you want to strip "csk_store_" for example and everything else just strip
							        "csk_" make sure to put "csk_store_" first or it will strip "csk_" and then won't find "csk_store_".
  stripColumnText          - the text to strip from column names (comma separated values, case-sensitive)
  stripParamText           - the text to strip from SP paramater names (comma separated values, case-sensitive)
                             Note that all strip properties don't affect actual DB values and are just for SubSonic generated code.
  appendWith				   - the text to append onto reserved words if any are found, default is "" so convention errors can be seen.
  spStartsWith				   - only use stored procedures that start with this text (comma separted values, case-sensitive)
							        ex. spStartsWith="C,S"
							        default is "" so all SPs are used.
  viewStartsWith			   - only use views that start with this text (comma separted values, case-sensitive)
							        default is "" so all views are used.
  relatedTableLoadPrefix	- An optional prefix to prepend to all for foreign key and primary key methods and
							        properties. Typical values would be "Get", "Load", "Fetch", etc.
  removeUnderscores        - Set to true to remove underscores from generated object names
                             default is false
                             
  excludeTableList    A Comma-separated list of tables you DON'T want generated as classes
  includeTableList    A Comma-separated list of tables you DO want generated as classes. This list is EXCLUSIVE (meaning no other
                      tables will have generated classes other than what you specify here) and TRUMPS excludeTableList.
 
  -->
  <SubSonicService defaultProvider="WinSubSonicProvider">
    <providers>
      <clear/>
      <!--WinSubSonicProvider Provider-->
      <add name="WinSubSonicProvider" type="SubSonic.SqlDataProvider, SubSonic"
      connectionStringName="WinConnectionString"
      generatedNamespace="SoftLogik.Win.Data"
      stripTableText="SL" removeUnderscores="true"
      fixPluralClassNames="true"
      includeTableList="SLMaster,SLAutoCode,SLCountry"/>
    </providers>
  </SubSonicService>

</configuration>