
.RadPanelbar_Panelbar
{
	background: white;
	white-space: nowrap;
	border: none;
	padding: 0px;
}

.RadPanelbar_Panelbar .rootGroup
{
	font: 8pt Tahoma;
}

.RadPanelbar_Panelbar .rootGroup .link .text
{
	font: 9pt Tahoma;
	color: White;
	padding: 7px 0px 3px 25px;
}

.RadPanelbar_Panelbar .group .link .text
{
	font: 8pt Tahoma;
	padding: 1px 2px 1px 4px;
	background-color: White;
	color: Black;
}


.RadPanelbar_Panelbar .rootGroup .link
{
	background: white url('Img/bluePanel.png') no-repeat;
	height: 29px;
	color: white;
}


.RadPanelbar_Panelbar .rootGroup .expanded
{
	height: 40px;
	background: white url('Img/bluePanelShadow.png') no-repeat;
}

.RadPanelbar_Panelbar .group .item .image
{
	margin: 0px 4px 0px 18px;
}

.RadPanelbar_Panelbar .group .text
{
	font: 8pt Tahoma;
}


.RadPanelbar_Panelbar .group .link
{
	font: 8pt Tahoma;
	height: 20px;
	padding: 0px;
	margin: 0px;
	color: Black;
	background: none;
}

.RadPanelbar_Panelbar .level1 .selected .text
{
	display: inline;
	padding: 1px 2px 1px 2px;
	background-color: #316AC5;
	color: White;
}

.RadPanelbar_Panelbar .group 
{
	background-color:White;
}
