.RadMenu_Menu
{
}

.RadMenu_Menu_Context
{
	cursor: pointer;
}

.RadMenu_Menu .link
{
	outline: none;
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	/*color: #838383;*/
	font: 11pt Arial,Verdana;
	padding-top: 8px;
	padding-bottom: 9px;
	cursor: pointer;
	border-right: solid 1px #C0C0C0;

}

.RadMenu_Menu .link img
{
	display: none;
}

.ButtonBar .RadMenu_Menu .link
{
		background-image: url('img/dropdown.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	border-right: solid 1px white;
	text-align: left;
	text-decoration: none;
	color: #555555;
	font: 10pt Arial,Verdana;
	cursor: pointer;
	padding: 0px;
}

.RadMenu_Menu .link .text
{
	vertical-align:top;
	cursor: pointer;
	padding-left: 25px;
	padding-right: 25px;
}


.ButtonBar .RadMenu_Menu .link .text
{
	vertical-align:top;
	cursor: pointer;
	padding: 4px 12px 4px 12px;
}

.RadMenu_Menu .link:hover, .RadMenu_Menu .expanded
{
	cursor: pointer;
}

.ButtonBar .RadMenu_Menu .link:hover, .ButtonBar .RadMenu_Menu .expanded
{
	color: #497699;
	cursor: pointer;
}

.RadMenu_Menu .link:hover .text, .RadMenu_Menu .expanded .text
{
	cursor: pointer;
}

.RadMenu_Menu .rootGroup
{
	
}

.RadMenu_Menu .rootGroup .disabled:hover .text
{
}
.ButtonBar .RadMenu_Menu .text 
{
	color: #555555;
	font: 10pt Arial,Verdana;
}
.RadMenu_Menu .text
{
	padding: 0px;
	padding-right: 15px;
	font: 11pt Arial,Verdana;
	cursor: pointer;
}

.RadMenu_Menu .group
{
	border: solid 1px #777777;
	
}

.ButtonBar .RadMenu_Menu .group
{
	background: #E2E2E2;
	border: solid 1px #CCCCCC;
}

.RadMenu_Menu .group .link
{
	color: #555555;
	height: auto;
	background: #FCFCFC;
	border: none;
	padding: 0px;
	border-top: solid 1px #FCFCFC;
	border-bottom: solid 1px #FCFCFC;
	text-align: left;
}

.ButtonBar .RadMenu_Menu .group .link
{
	background: #E2E2E2;
	color: #555555;
	border-top: solid 1px #E2E2E2;
	border-bottom: solid 1px #E2E2E2;
	text-align: left;
}

.RadMenu_Menu .group .link .text
{
	font: 9pt Arial,Verdana;
	padding-left: 8px;
	
}

.ButtonBar .RadMenu_Menu .group .link .text
{
	font: 9pt Arial,Verdana;
	padding-left: 8px;
}

.RadMenu_Menu .group .text
{
	padding-top: 2px;
	padding-bottom: 2px;
}
.RadMenu_Menu .group .expanded .text
{
}
.RadMenu_Menu .group .link .text, .RadMenu_Menu .group .expanded .text
{

}

.RadMenu_Menu .group .link:hover .text,  .RadMenu_Menu .group .expanded .text
{
	color: #1980CD;
}

.RadMenu_Menu .group .link:hover, .RadMenu_Menu .group .expanded
{
	color: #1980CD;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
	background-color: #E2E2E2;
}

.ButtonBar .RadMenu_Menu .group .link:hover, .ButtonBar .RadMenu_Menu .group .expanded
{
	color: #1980CD;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	background-color: #EEEEEE;
}

.RadMenu_Menu .leftArrow, .RadMenu_Menu .rightArrow, .RadMenu_Menu .topArrow, .RadMenu_Menu .bottomArrow, .RadMenu_Menu .leftArrowDisabled, .RadMenu_Menu .rightArrowDisabled, .RadMenu_Menu .topArrowDisabled, .RadMenu_Menu .bottomArrowDisabled
{
	background: #AAAAAA url(img/left.gif) center center no-repeat;
	width: 15px;
	height: 15px;
	border: solid 0px black;
}

.RadMenu_Menu .topArrow, .RadMenu_Menu .topArrowDisabled
{
	background-image: url(img/top.gif);
	width: 100%;
}

.RadMenu_Menu .bottomArrow, .RadMenu_Menu .bottomArrowDisabled
{
	background-image: url(img/bottom.gif);
	width: 100%;
}

.RadMenu_Menu .rightArrow, .RadMenu_Menu .leftArrow
{
	height: 100%;
}

.RadMenu_Menu .rightArrow, .RadMenu_Menu .rightArrowDisabled
{
	background-image: url(img/right.gif);
}


.RadMenu_Menu .vertical .separator .text
{
	background: #777777;
	font-size: 0px;
	padding: 0px;
	padding-top: 1px;
}

.RadMenu_Menu .expandLeft, .RadMenu_Menu .expandRight
{
	background: transparent url(img/groupImage.gif) right center no-repeat;
}


.RadMenu_Menu .link:hover .expandLeft, .RadMenu_Menu .link:hover .expandRight, .RadMenu_Menu .focused .expandLeft, .RadMenu_Menu .focused .expandRight, .RadMenu_Menu .expanded .expandLeft, .RadMenu_Menu .expanded .expandRight
{
	background: transparent url(img/invertedGroupImage.gif) right center no-repeat;
}
